@model ImagePinned.Web.Models.UserViews
@if (Model.Email != null)
{
    if (Model.Role)
    {
        <li>@Html.ActionLink("AdminPanel", "AdminPanel", "Home")</li>
    }
    <li>@Html.ActionLink(@Model.Email,"Profiles","Home")</li>
    <li>@Html.ActionLink("Выход", "Logout", "Account")</li>

}
else
{
    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
    <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
}
